target/
*.classpath
.classpath
*.project
*.settings/
*.db
*.log
*.actionScriptProperties
*.flexProperties
*bin-debug/
**/*build/temp/
*your.app.*.log*
*Index.swf
*sdg-flex-1.0-SNAPSHOT.swf
**/*java/bin/
*.flexConfig.xml
target
.settings
bin-debug
html-template
java/sdg-java/src/main/webapp/apps/
*.metadata/
MyCourseWeb/build/classes/hibernate.cfg.xml
MyCourseWeb/src/hibernate.cfg.xml